<!DOCTYPE html>
<html>
  <head>
    <title>Piggy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="h-full bg-slate-50">
    <%= render 'layouts/alerts' %>
    <% if current_user %>
      <%= render 'layouts/app' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
